In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('다른 칸에 존재하는 리뷰.csv')
df.head()

                                                  리뷰
0                       암사동 선사주거지-->신석기 시대를 체험할 수 있다
1  암사동 선사주거지-->교과서에서만 보던 선사 유적지이다. 서울 외곽에 위치해 있어서...
2                                    암사동 선사주거지-->유적지
3  암사동 선사주거지-->아이들과 함께 하거나 어르신들 모시고 나들이 가기 좋은 곳이네...
4                       암사동 선사주거지-->아이들 봉사활동할 꺼리도 있ㄱ

In [3]:
df['관광지']=df.리뷰.str.split('-->').str[0]
df['전체내용']=df.리뷰.str.split('-->').str[1]

In [4]:
df=df[['관광지','전체내용']]

In [5]:
df.head()

         관광지                                               전체내용
0  암사동 선사주거지                                   신석기 시대를 체험할 수 있다
1  암사동 선사주거지  교과서에서만 보던 선사 유적지이다. 서울 외곽에 위치해 있어서 대중됴통을 이용하기 ...
2  암사동 선사주거지                                                유적지
3  암사동 선사주거지  아이들과 함께 하거나 어르신들 모시고 나들이 가기 좋은 곳이네요. 온 가족이 가족 ...
4  암사동 선사주거지                                   아이들 봉사활동할 꺼리도 있ㄱ

In [6]:
df.to_csv('추가관광지리뷰최종리뷰.csv',encoding='utf-8-sig',index=False)

In [9]:
df

             관광지                                               전체내용
0      암사동 선사주거지                                   신석기 시대를 체험할 수 있다
1      암사동 선사주거지  교과서에서만 보던 선사 유적지이다. 서울 외곽에 위치해 있어서 대중됴통을 이용하기 ...
2      암사동 선사주거지                                                유적지
3      암사동 선사주거지  아이들과 함께 하거나 어르신들 모시고 나들이 가기 좋은 곳이네요. 온 가족이 가족 ...
4      암사동 선사주거지                                   아이들 봉사활동할 꺼리도 있ㄱ
..           ...                                                ...
533  벌교 홍교, 대한다원  저는 녹차밭을 별로 기대하고 가지 않았습니다.. 처음에는 안 들리고 지나가려고 했었...
534  벌교 홍교, 대한다원                                             보성 녹차밭
535  벌교 홍교, 대한다원  참 멋지고 이쁘네요말로만듣고 이번에 가봤는데 좋았어요또 가보고싶었고요추천해요혼자갔는...
536  벌교 홍교, 대한다원                              비오는 겨울 풍경도 아름다운 다원...
537  벌교 홍교, 대한다원  비오는 겨울 다원 산책은 무모한 도전이었지만 또 다른 경험...다우너의 초록색은 없...

[538 rows x 2 columns]

In [16]:
df_all=pd.read_csv('최종리뷰형태.csv')
df_all.head()

   관광지                                               전체내용
0  경복궁  대한민국의 역사 : 대한민국의 역사가 잠들어 있는 곳. 서울을 방문했다면 꼭 방문해...
1  경복궁  국민이 공감하는 장소 : 경복궁은 국민들이 자주 찾는곳으로 작성자는 주말에 자주 가...
2  경복궁  산책하기 좋은 경복궁 : 날씨 좋은 날 종종 산책하러 경복궁에 가는데 마음이 편온해...
3  경복궁  Good : Goooooood 다 좋습니다 다음에 또 오고 싶네요 근처 관광지도많고...
4  경복궁  가족단위로 방문하기 좋은곳 : 요새 더더욱 코로나로 인해 사람 방문이 적음. 두자녀...

In [17]:
df_all.shape

(4698, 2)

In [18]:
df_alls=pd.concat([df_all,df])
df_alls

             관광지                                               전체내용
0            경복궁  대한민국의 역사 : 대한민국의 역사가 잠들어 있는 곳. 서울을 방문했다면 꼭 방문해...
1            경복궁  국민이 공감하는 장소 : 경복궁은 국민들이 자주 찾는곳으로 작성자는 주말에 자주 가...
2            경복궁  산책하기 좋은 경복궁 : 날씨 좋은 날 종종 산책하러 경복궁에 가는데 마음이 편온해...
3            경복궁  Good : Goooooood 다 좋습니다 다음에 또 오고 싶네요 근처 관광지도많고...
4            경복궁  가족단위로 방문하기 좋은곳 : 요새 더더욱 코로나로 인해 사람 방문이 적음. 두자녀...
..           ...                                                ...
533  벌교 홍교, 대한다원  저는 녹차밭을 별로 기대하고 가지 않았습니다.. 처음에는 안 들리고 지나가려고 했었...
534  벌교 홍교, 대한다원                                             보성 녹차밭
535  벌교 홍교, 대한다원  참 멋지고 이쁘네요말로만듣고 이번에 가봤는데 좋았어요또 가보고싶었고요추천해요혼자갔는...
536  벌교 홍교, 대한다원                              비오는 겨울 풍경도 아름다운 다원...
537  벌교 홍교, 대한다원  비오는 겨울 다원 산책은 무모한 도전이었지만 또 다른 경험...다우너의 초록색은 없...

[5236 rows x 2 columns]

In [19]:
df_alls.to_csv('지이인짜최종리뷰데이터.csv',index=False,encoding='utf-8-sig')